@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    width: 100%;
    height: 100%;
    color: #626262;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.new{
    color: white;
}

.top{
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 100%;
    /* width: 100%; */
}


@media screen and (max-width:700px){
    .res{
        background: black;
    }

    
    
}

/*
Choose Area Css
======================================================*/
.choose-area .choose-content .faq-accordion .accordion {
    padding: 0;
    margin: 0;
  }
  
  .choose-area .choose-content .faq-accordion .accordion .accordion-item {
    display: block;
    margin-bottom: 20px;
    position: relative;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  }
  
  .choose-area .choose-content .faq-accordion .accordion .accordion-item:last-child {
    margin-bottom: 0;
  }
  
  .choose-area .choose-content .faq-accordion .accordion .accordion-item .accordion-title {
    padding: 15px 60px 15px 70px;
    color: #017cc2;
    position: relative;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  }
  
  .choose-area .choose-content .faq-accordion .accordion .accordion-item .accordion-title i {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #017cc2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 16px;
  }
  
  .choose-area .choose-content .faq-accordion .accordion .accordion-item .accordion-title.active {
    background-color: #017cc2;
    color: #ffffff;
  }
  
  .choose-area .choose-content .faq-accordion .accordion .accordion-item .accordion-title.active i::before {
    content: "\ec4e";
    color: #ffffff;
  }
  
  .choose-area .choose-content .faq-accordion .accordion .accordion-item .accordion-content {
    display: none;
    background-color: #fff;
    margin-bottom: 0;
    padding: 15px 30px 15px 30px;
    font-size: 16px;
    z-index: 1;
    color: #50607f;
    position: relative;
  }
  
  .choose-area .choose-content .faq-accordion .accordion .accordion-item .accordion-content.show {
    display: block;
  }
  
  .choose-area .choose-content .faq-accordion .accordion .accordion-item .accordion-content::before {
    content: "";
    width: 75%;
    height: 2px;
    background: #7a7e9a;
    top: 5px;
  }
  
  .choose-area .choose-content .faq-accordion .accordion .icon {
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #f5ebff;
    text-align: center;
    font-size: 25px;
    color: #051242;
    top: 11.2px;
    left: 12px;
  }
  
                                            /* Detail page          */

.contain{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}                                            

.headerlabel{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(70, 70, 70);
    max-width: 500px;
    margin: 50px auto 40px;
    text-align: center;
    position: relative;
}

.account{
    margin-bottom: 5px;
    position: relative;
    max-width: 380px;
    margin: 20px auto;
    font-size: 18px;
}

.footer {
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    /* line-height: 8px; */
    padding-top: 10px;
    font-size: 16px;
}
/* .text-minted{
    color: #000000!important;
} */





.bold{
  font-weight: 1000;
  color: #e69d67;
}

.light{
  font-weight: 100;
}

.wrapper{
  background: var(--white);
  /*padding: 30px;*/
   /*width: 50%;*/
   /*width: 40%;*/
   margin-left: 6%;
   margin-right: 66%;
}

  
.invoice_wrapper{
  border: 2px solid var(--primary);
  /*width: 650px;*/
  /*width: 510px;*/
  /*max-width: 100%;*/
}

.invoice_wrapper .heade .logo_invoice_wrap,
.invoice_wrapper .heade .bill_total_wrap{
  display: flex;
  justify-content: space-between;
  /*padding: 30px;*/
  margin-top: -48px;
}

.invoice_wrapper .heade .logo_sec{
  display: flex;
  align-items: center;
}

.invoice_wrapper .heade .logo_sec .title_wrap{
 /* margin-left: 5px;*/
}

.invoice_wrapper .heade .logo_sec .title_wrap .title{
  text-transform: uppercase;
  font-size: 18px;
  color: var(--primary);
}

.invoice_wrapper .heade .logo_sec .title_wrap .sub_title{
  font-size: 12px;
}

.invoice_wrapper .heade .invoice_sec,
.invoice_wrapper .heade .bill_total_wrap .total_wrap{
  /*text-align: right;*/
}

.invoice_wrapper .heade .invoice_sec .invoice{
  font-size: 28px;
  color: var(--primary);
  margin-bottom: 0px;
}

.invoice_wrapper .heade .invoice_sec .invoice_no,
.invoice_wrapper .heade .invoice_sec .date{
 /*display: flex;*/
  width: 130px;
  margin-top: 0px;
}

.invoice_wrapper .heade .invoice_sec .invoice_no span:first-child,
.invoice_wrapper .heade .invoice_sec .date span:first-child{
  width: 70px;
  text-align: left;
}

.invoice_wrapper .heade .invoice_sec .invoice_no span:last-child,
.invoice_wrapper .heade .invoice_sec .date span:last-child{
  width: calc(100% - 70px);
}

.invoice_wrapper .heade .bill_total_wrap .total_wrap .price,
.invoice_wrapper .heade .bill_total_wrap .bill_sec .name{
  color: var(--primary);
  font-size: 20px;
}

.invoice_wrapper .body .main_table .table_header{
  background: var(--primary);
  /*width: 80%;*/
}

.invoice_wrapper .body .main_table .table_header .row{
  color: var(--white);
  font-size: 18px;
  border-bottom: 0px; 
}

.invoice_wrapper .body .main_table .row{
  display: flex;
  border-bottom: 1px solid var(--secondary);
 /* width: 80%;*/
}

.invoice_wrapper .body .main_table .row .col{
 /* padding: 10px;*/
/*  padding-top: 5px;
  padding-bottom: 5px;*/
  padding-right: 10px;
  padding-left: 20px;
}
.invoice_wrapper .body .main_table .row .col_no{width: 5%;}
.invoice_wrapper .body .main_table .row .col_des{width: 39%;}
.invoice_wrapper .body .main_table .row .col_price{color: #0000ff;text-align: center;}
.invoice_wrapper .body .main_table .row .col_qty{width: 10%; text-align: center;}
.invoice_wrapper .body .main_table .row .col_total{color: blue; width: 20%; text-align: right;}

.invoice_wrapper .body .paymethod_grandtotal_wrap{
  display: flex;
  justify-content: space-between;
  /*padding: 5px 0 30px;*/
  align-items: flex-end;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .paymethod_sec{
  /*padding-left: 30px;*/
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec{
  width: 30%;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p{
  display: flex;
  width: 100%;
  padding-bottom: 5px;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span{
  padding: 0 10px;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span:first-child{
  width: 60%;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span:last-child{
  width: 40%;
  text-align: right;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p:last-child span{
  background: var(--primary);
  padding: 10px;
  color: #fff;
}

.invoice_wrapper .footer{
  padding: 30px;
}

.invoice_wrapper .footer > p{
  color: var(--primary);
  text-decoration: underline;
  font-size: 18px;
  padding-bottom: 5px;
}

.invoice_wrapper .footer .terms .tc{
  font-size: 16px;
}