body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c5d1ee;
  border-radius: 80px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242424; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00474F; 
}  ::-webkit-scrollbar {
  width: 4px;
}
/* preloader css */


.preloader-container{
  height:  100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  background: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.95

}



.loader{
  width: 70px;
  height: 70px;
  border: 3px solid #F9C301;
  border-left-color:  #242424;
  border-right-color:  #242424;
  display: flex;
  background: #242424;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  padding-left: 3px;
  animation: rotate  1.2s linear infinite 
}

@keyframes rotate {
	from {
  		  transform: rotate(0deg);
    }
    
    to { 
    	transform: rotate(360deg);
    }
    
 
}

.preload-text{
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  width: 100%;
}

.progress-bar-2{
  display: flex;
  justify-content: space-between;
  margin-top: 2px;


}
.progress-bar-2 span {
  background: #A3A3A3;
  
}
.label{
  text-transform: capitalize;
  float: right;
  font-weight: 400;
}
